/* .color1 { #1b676b };
.color2 { #519548 };
.color3 { #88c425 };
.color4 { #bef202 };
.color5 { #eafde6 }; */
.divNavBar{
    background-color: #1b676b;
    color: #eafde6;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 15px;
}
.imageNavBar{
    margin-right: 20px;
}
.componentNavBar{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 28px;
}
.linkNavBar{
    color: #eafde6;
}
