/* .color1 { #1b676b };
.color2 { #519548 };
.color3 { #88c425 };
.color4 { #bef202 };
.color5 { #eafde6 }; */
.ButtonL{
    background-color: #1b676b;
    color: #eafde6;
    font-size: 42px;
    border-radius: 10px;
}
.bodyL{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10%;
}